.post-page {
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.create-post {
    cursor: pointer;
    color: white;
    background-color: rgb(149, 147, 147);
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 14px;
}

.new-post, .edit-post {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.new-post button {
    cursor: pointer;
    padding: 5px;
}

.new-post input, textarea {
    padding: 5px;
    outline: none;
    border-width: 0px 0px 1px 0px;
    border-bottom: 1px solid grey;
}

.new-post input {
    margin-bottom: 5px;
}

textarea {
    resize: vertical;
    height: 40px;
    margin-bottom: 15px;
}

.posts {
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.post-card {
    width: 45%;
    height: 100%;
    border: 1px dashed gray;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-left: 5px solid gray;
    border-radius: 50px 5px 5px 5px;
}

.btn-post {
    display: flex;
    justify-content: flex-end;
}

.btn-post button {
    cursor: pointer;
    width: 40px;
    margin-left: 3px;
}

.post-card p {
    padding: 5px;
    text-align: center;
    font-size: 18px;
    word-break: break-all;
}

p:first-letter {
    text-transform: uppercase;
}

.title {
    font-weight: 600;
}

.show-posts {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-more {
    width: 20%;
    min-width: 110px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(140, 142, 144);
    border: 1px solid grey;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}
.edit{
  width: 100vw;
  height: 100vh;
  background-color: rgba(189, 194, 160,0.7);
  position: fixed;
  top: 0;
  left: 0;

  
}
.edit-post {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.edit-post input,.edit-post textarea{
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    border-width: 0;
    border-radius: 5px;
}
.edit-post textarea{
    padding: 5px;
    height: 100px;
}
.edit-post button{
    padding: 5px;
    cursor: pointer;
}

