.contaniner {
    margin-left: 150px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.posts {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 50px;
}

.post-card {
    width: 90%;
    min-height: 90px;
    border: 1px dashed gray;
    border-left: 3px solid gray;
    border-bottom-left-radius: 40px;
    border-right: 3px solid gray;
    border-top-right-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.post-card p {
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

p:first-letter {
    text-transform: uppercase;
}
.title{
    font-weight: 600;
}

.images {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.photo{
    margin-bottom: 10px;
}